<strong class="<%= "mark-as-done" if list.done %>"><%= list.title %></strong>
<ul>
  <% list.tasks.each do |task| %>
    <li class="<%= "mark-as-done" if task.done %>"><%= task.title %></li>
  <% end %>
</ul>
