<div class="page-header">
  <h1>Lists</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>title</th>
      <th>completed</th>
      <th>public</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @lists.each do |list| %>
      <%= render :partial => "detail", :locals => { :list => list } %>
    <% end %>
  </tbody>
</table>

<%= link_to t("helpers.links.new"), new_list_path, :class => 'btn btn-primary' %>
