<li id="<%= dom_id task %>">
  <%= simple_form_for [@list, task], :remote => true do |f| %>
    <%= f.input :done, :label => task.title, :input_html => { :id => "done_#{dom_id task}", :title => "Check for complete" } %>
  <% end %>
  <%= link_to t("helpers.links.destroy"),
    list_task_path(@list, task),
    :method => 'delete',
    :data => { :confirm => t("helpers.links.confirm"), :remote => true },
    :class => 'trash' %>
</li>
