<li id="<%= dom_id task %>">
  <% if task.done %>
    <span class='label label-info'><%= t("done") %></span>
  <% end %>
  <%= task.title %>
  <%= link_to t("helpers.links.destroy"),
    list_task_path(@list, task),
    :method => 'delete',
    :data => { :confirm => t("helpers.links.confirm"), :remote => true },
    :class => 'trash' %>
</li>
